@import "tailwindcss";

@layer components {
    .headerImage {
        background-image: url('/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}